body {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: 'Open Sans';
    /*font-size:18px;*/
    color: #585858;
    line-height: 1.6;
    font-size: 16px;
    line-height: 1.8;
}

.nav li a {
    max-height: 60px !important;
}

.light-body {
    background-color: #fff;
}

.dark-body {    
    background-color: #eaeaea;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.course-info {
    min-height: 210px;
    margin-top: 25px;
}

.course-info img {
    margin-top:0px;
}

.min-h-content {
    min-height: 2000px;
}

.article-text, .article-text-intro, .article-text ul li{
    text-align: justify;
    font-size: 16px;
    line-height: 1.8;
}

.pre-fixed{
    float:right;
}

.fixed {
    position:fixed; top:58px;
    z-index: 10;   
    box-shadow: 0px 2px 10px -4px #000000;
    display: none;
}
.fixed-container {
    padding: 0;
}

@media (max-width: 767px) {
    .hidden-xs-fixed {
        float: none;
        font-size: xx-small;
    }
    .fixed .hidden-xs-fixed {
        display: none;
    }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#legal-info, #pubadv {
    width: 100%;
    margin: 0;
    z-index: 10;
    bottom: 0;
    position: fixed;
    border-radius: 0;
    box-shadow: 0px 2px 10px -2px #000000 !important;
    padding: 10px;
}

#pubadv{
    z-index: 9;
    display: none;
    background-color: red;
    color: white;
    border: red;
}

.pubdiv div{
    margin-top: 50px;
}

.btn {
    margin-bottom: 5px;
}

#main-navbar {
    box-shadow: 0px 2px 10px -4px #000000;
    border: none !important;
}

#main-logo{
    margin: 0px;
    padding: 10px 10px 2px 10px;
    cursor: pointer;
    background-color: #000000;
}

#main-logo:hover{
    background-color: #1f1f1f;
}

.panel, .well, .list-group, .pagination {
    box-shadow: 0px 3px 12px -4px #000000;
}

.problems-div{
    background-color: #fff;
}

a:hover {
    cursor: pointer;
}

.loading {
    padding-top: 20px;
    min-height: 70px;
}

#posts-body{
    display: block;
}

.visible {
    display: inline !important;
}

.img-bounded {
    max-height: 300px;
}

.box {    
    margin-top: 30px;
    display: block;
}

.box-image {    
    display: block;
}

.background-image {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center bottom;
    height: 380px; 
}

.box .background-image {
    box-shadow: 0px 3px 12px -4px #000000;
}

.headline {    
    color: #fff;    
    font-family: 'News Cycle';    
    position: absolute;
    bottom: 0px;
    padding: 0;
    width: 100%;
}

    .headline a, .headline a:hover {
        color: #fff;
        text-decoration: none;
    }

.headline .sm-title {
    right: 15px;
}

.headline .sm-title span {
    background-color: #f67930;
    color: #fff;
    padding: 0px 10px 0px 10px;
    width: unset;
    font-weight: bold;
}

.headline .md-title {
    padding: 0px 10px 5px 10px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 75px;
    font-size: 22px;
    display: inline;
    width: calc(100% - 30px); /* 100% less paddings */
}

.headline .sm-bottom {
    width: calc(100% - 30px);
}

    .fb {
        background-color: rgba(10, 150, 250, 0.9);
        height: 36px;
    }

    .tw {
        background-color: rgba(0, 200, 250, 0.9);
        padding-top: 8px;
        height: 36px;
    }

    .headline .sm-bottom .author {
        background-color: rgba(220, 220, 220, 0.9);
        color: black;
        font-size: 12px;
        font-weight: bold;
    }

.highlight {
    background-color: #f67930;
    color: #fff;
    font-family: "News Cycle";
    font-weight: bold;
}