
body {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: 'Open Sans';
    /*font-size:18px;*/
    color: #585858;
    line-height: 1.6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.course-info {
    min-height: 210px;
    margin-top: 25px;
}

.course-info img {
    margin-top:0px;
}

.article-text, .article-text-intro{
    text-align: justify;
    font-size: 16px;
    line-height: 1.8;
}

.article-text-intro {
}

.fixed {
    position:fixed; top:58px;
    z-index: 10;
}
