@model IEnumerable<Sibelius.Web.Models.Question>

<div class="panel">
    <div class="panel-body">
        <h4><span class="glyphicon glyphicon-exclamation-sign"></span> ÚLTIMAS RESPUESTAS</h4>
        <hr />
        @foreach (var question in Model.Where(q => q.Answered))
        {
            <h4>
                <a href="~/Questions/Show/@question.Id">@question.Title</a>
            </h4>
            <div class="btn-group-justified btn-group-sm">
                <a class="btn btn-primary" href="~/Questions/Show/@question.Id">Ver respuesta <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="fb-like" data-href="http://thescienceofcode.azurewebsites.net/Questions/Show/@question.Id" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
                <div class="col-sm-6" style="padding-top: 8px;">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://thescienceofcode.azurewebsites.net/Questions/Show/@question.Id" data-via="ScienceOfCode">Tweet</a>
                </div>
            </div>
           

        }
    </div>
</div>