@model IEnumerable<Sibelius.Web.Models.Question>


<span class="section-span">
    Últimas Respuestas
</span>
<div class="section-div tsoc-group">
    @foreach (var question in Model)
    {
        <a href="~/Questions/Show/@question.Id">
            <span class="text-content">
                @question.Title
            </span>
        </a>
    }
    @if (!ViewBag.ShowPagination)
    {
        <a class="section-btn-more" href="~/Questions">
            Ver más preguntas >
        </a>
    }
</div>
@if (ViewBag.ShowPagination)
{
    @Html.Partial("~/Views/Shared/_Pagination.cshtml",
                (Sibelius.Web.Models.PaginationVM)ViewBag.PaginationVM)
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group-justified">
                <a class="btn btn-primary" href="~/Questions">¡Hacer mi pregunta! <span class="glyphicon glyphicon-bullhorn"></span></a>
            </div>
        </div>
    </div>
}

