@model Sibelius.Web.Models.QuestionResultVM

@if (Model.Error)
{
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                @Model.Message
            </div>
        </div>
    </div>
    @Html.Partial("_SendQuestion", Model.Question)
}
else
{

    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-success">
                @Model.Message
            </div>
        </div>
    </div>
}