
@{
    ViewBag.Title = "Pregúntanos";
    ViewBag.ContainerClass = "body-content";
}
<br />
<div class="row">
    <div class="col-xs-12">
        <center>
            @Custom.Pub()
        </center>
        <br />
    </div>
</div>
<br />
<div class="row visible-sm visible-xs">
    <div class="col-xs-12">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary smooth" href="#new-question">¡Hacer mi pregunta! <span class="glyphicon glyphicon-bullhorn"></span></a>
            <a class="btn btn-primary smooth" href="#questions-list">Ver respuestas</a>
        </div>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="row" id="new-question">
            <h3><span class="glyphicon glyphicon-bullhorn"></span> ¡TENGO UNA PREGUNTA!</h3>
            <div id="questions-action">
                @Html.Partial("_SendQuestion", new Sibelius.Web.Models.Question())
            </div>
        </div>
    </div>
    <div class="col-md-4" id="questions-list">
        @{Html.RenderAction("List", "Questions", null);}
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/app/questions.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
}
