
@{
    ViewBag.Title = "Pregúntanos";
}
<br />
<div class="row">
    <div class="col-xs-12">
        <center>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Questions -->
            <ins class="adsbygoogle"
                 style="display:block;max-width:970px;width:100%;"
                 data-ad-client="ca-pub-1426867402604645"
                 data-ad-slot="9148704012"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="pubdiv"></div>
        </center>
        <br />
    </div>
</div>
<br />
<div class="row visible-sm visible-xs">
    <div class="col-xs-12">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary smooth" href="#new-question">¡Hacer mi pregunta! <span class="glyphicon glyphicon-bullhorn"></span></a>
            <a class="btn btn-primary smooth" href="#questions-list">Ver respuestas</a>
        </div>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="well well-sm">
            <div class="row">
                <div class="col-xs-12" id="new-question">
                    <h4><span class="glyphicon glyphicon-bullhorn"></span> HAZ TU PREGUNTA</h4>
                    <hr />
                    <div id="questions-action">
                        @if (Session["question"] == null)
                        {
                            @Html.Partial("_SendQuestion", new Sibelius.Web.Models.Question())
                        }
                        else
                        {
                            <h3>Pronto responderemos tu pregunta</h3>
                            <h4>Gracias por hacer parte de The Science of Code</h4>
                        }
                    </div>                    
                </div>
            </div>            
        </div>       
    </div>
    <div class="col-md-3">
        <div class="alert alert-info">
            <h4>Importante</h4>
            <ul>
                <li>Sólo puedes enviar una pregunta por sesión (para evitar spammers).</li>
                <li>No contestamos preguntas de temas que no estén relacionados con computación.</li>
                <li>No nos envies virus o páginas de phishing. Esto lo revisa un profesional ;) </li>
            </ul>
            
        </div>
    </div>
    <div class="col-md-4" id="questions-list">
            @{Html.RenderAction("List", "Questions", null);}
        </div>
    </div>

@section Scripts {
    <script src="~/Scripts/app/questions.js"></script>
}