
@{
    ViewBag.Title = "Pregúntanos";
}
<br />
<div class="row">
    <div class="col-md-8">
        <div class="well well-sm">
            <div class="row">
                <div class="col-xs-12">
                    <h4><span class="glyphicon glyphicon-bullhorn"></span> HAZ TU PREGUNTA</h4>
                    <hr />
                    <div id="questions-action">
                        @Html.Partial("_SendQuestion", new Sibelius.Web.Models.Question())
                    </div>                    
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-xs-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Questions -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1426867402604645"
                     data-ad-slot="9148704012"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <div class="pubdiv"></div>
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @{Html.RenderAction("List", "Questions", null);}
    </div>
</div>

