
@{
    ViewBag.Title = "Preguntanos";
    ViewBag.bodyclass = "dark-body";
}
<br />
<div class="row">
    <div class="col-md-4">
        @{Html.RenderAction("List", "Questions", null);}
    </div>
    <div class="col-md-8">
        <div class="well well-sm">
            <div class="row">
                <div class="col-xs-12">
                    <h4><span class="glyphicon glyphicon-bullhorn"></span> HAZ TU PREGUNTA</h4>
                    <hr />
                    <div id="questions-action">
                        @Html.Partial("_SendQuestion", new Sibelius.Web.Models.Question())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

