@model IEnumerable<Sibelius.Web.Models.Post>
@{ var count = 0; }
@foreach (var item in Model)
{
    item.Html = null;
    @Html.Partial("_Post", item)
    if (count++ == 4)
    {
        <div class="row">
            <div class="col-xs-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Posts -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1426867402604645"
                     data-ad-slot="2889385216"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <div class="pubdiv"></div>
                <br />
            </div>
        </div>
    }
}