@model IEnumerable<Sibelius.Web.Models.Post>

<div class="well problems-div">
    <div class="row">
        <div class="col-xs-12 alert alert-success">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Cambiamos la interfaz para que te sea más fácil buscar los problemas con los que quieres entrenar.
            <b>¡Like si te parece que mola!</b><br />
            <div class="row">                
                <div class="col-sm-6 fb-like" data-href="http://thescienceofcode.azurewebsites.net/Posts/Section?name=Problemas" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                <div class="col-sm-6" style="padding-top: 8px;">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://thescienceofcode.azurewebsites.net/Posts/Section?name=Problemas" data-via="ScienceOfCode">Tweet</a>
                </div>
            </div>
        </div>
    </div>

    <table class="small table table-responsive table-striped">
        <thead>
            <tr>
                <th>Tipo</th>
                <th class="hidden-xs">Autor</th>
                <th class="text-center">Problema y explicación</th>
                <th class="text-center hidden-xs">Social</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var data = item.Title.Split('[');
                var title = data.Length == 1 ? data[0] : data[1].Substring(0, data[1].IndexOf(']'));
                <tr>
                    <td>@title</td>
                    <td class="hidden-xs">@item.Author</td>
                    <td class="text-center">
                        <a class="btn btn-primary" href="~/Posts/Show/@item.Id">
                            <span class="glyphicon glyphicon-folder-open"></span> <span class="hidden-xs">&nbsp;Abrir</span>
                        </a>
                    </td>
                    <td class="hidden-xs">
                        <div class="fb-like" data-href="http://thescienceofcode.azurewebsites.net/Posts/Show/@item.Id" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                        <div style="padding-top: 8px;">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://thescienceofcode.azurewebsites.net/Posts/Show/@item.Id" data-via="ScienceOfCode">Tweet</a>
                        </div>
                    </td>
            </tr>
            }
        </tbody>
    </table>
</div>