@{
    ViewBag.bodyclass = "dark-body";
}

<br />
<div class="row">
    <div class="col-md-4">
        <div id="posts-sections" data-url="@Url.Content("~/Posts/SectionsMenu")">
            @Html.Partial("~/Views/Shared/_Loading.cshtml", true)
        </div>
        <br />
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Post show -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1426867402604645"
             data-ad-slot="3668114410"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <div class="pubdiv"></div>
        <br />
    </div>
    <div class="col-md-8">
        <div id="posts-body" data-url="@ViewBag.CallbackUrl">
            @Html.Partial("~/Views/Shared/_Loading.cshtml", true)
        </div>
    </div>
</div>