@model IEnumerable<Sibelius.Web.Models.Post>

@{
    ViewBag.Title = "Posts";
    ViewBag.bodyclass = "dark-body";
    int count = 0;
}

<br />
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_Sections", (IEnumerable< Sibelius.Web.Models.PostSection>)ViewBag.Sections)
    </div>
    <div class="col-md-8">
        @foreach (var item in Model)
        {
            item.Html = null;
            @Html.Partial("_Post", item)
            if (count++ == 0)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- Posts -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-1426867402604645"
                                     data-ad-slot="2889385216"
                                     data-ad-format="auto"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    
</div>