@model IEnumerable<Sibelius.Web.Models.Post>

@{
    ViewBag.Title = "Posts";
}

<br />
<div class="row">
    <div class="col-md-8">
        @foreach (var item in Model)
        {
            item.Html = null;
            @Html.Partial("_Post", item)
        }
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">¿Qué es esto?</h4>
            </div>
            <div class="panel-body">
                Nos gusta compartir artículos, pero también pequeños enlaces y tutoriales,
                así que decidimos crear esta sección denominada <b>Posts!</b> donde
                encontrarás contenidos cortos sobre computación.
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Posts -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1426867402604645"
                 data-ad-slot="2889385216"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>