@{
    ViewBag.Title = "Acerca de";
}
<br />
<div class="row">
    <div class="col-md-4 text-justify">
        <h2>¿Quiénes somos?</h2>
        <hr />
        <p>
            Somos una comunidad dedicada a la enseñanza de las Ciencias de la Computación como arte liberal y no como una simple
            habilidad industrial.
        </p>
    </div>
    <div class="col-md-4 text-justify">
        <h2>Línea editorial</h2>
        <hr />
        <p>
            The Science of Code es un intento por defender y recobrar la dignidad de las ciencias de la computación,
            por llegar a todos los lectores e intentar infundir en ellos la magia que nos apasiona: La programación,
            la ingeniería y la ciencia.
        </p>
    </div>
    <div class="col-md-4 text-justify">
        <h2>La comunidad</h2>
        <hr />
        <div class="text-center">
            <div class="fb-page" data-href="https://www.facebook.com/thescienceofcode" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/thescienceofcode"><a href="https://www.facebook.com/thescienceofcode">The Science of Code</a></blockquote></div></div>
        </div>
    </div>
</div>
<br />
<div class="row well">
    <div class="col-md-4 text-justify">
        <h3>La honestidad científica y la libertad de expresión</h3>
        Por más desagradables que sean las verdades descubiertas, The Science of Code es un sitio que permite
        la divulgación de críticas, opiniones y artículos de todo tipo, sin ninguna clase de censura.<br /><br />
    </div>
    <div class="col-md-4 text-justify">
        <h3>El conocimiento libre</h3> <br />
        Creemos que no deben existir barreras de ningún tipo para el acceso a la información, por eso todos nuestros
         contenidos son y seguirán siendo siempre gratuitos.<br /><br />
    </div>
    <div class="col-md-4 text-justify">
        <h3>Los derechos de autor</h3><br />
        Respetamos profundamente el trabajo realizado por otras personas. Damos crédito a todo el contenido que 
        comparten miembros de la comunidad, así como a imagenes y otros materiales bajo licencias Creative Commons.<br /><br />
    </div>
</div>

<div class="row text-center">
    <h1>¿Tienes algo que contar o compartir?</h1>
    <h3>Escríbenos a través de nuestras redes sociales</h3>
    <a class="btn btn-primary btn-lg" href="http://facebook.com/TheScienceOfCode" target="_blank"><i class="fa fa-facebook"></i></a>
    <a class="btn btn-primary btn-lg" href="https://twitter.com/ScienceOfCode" target="_blank"><i class="fa fa-twitter"></i></a>

</div>
