@{
    ViewBag.Title = "Acerca de";
}
<br />
<div class="row well">
    <div class="col-md-4 text-justify">
        <h2>¿Quiénes somos?</h2>
        <p>
            Somos una comunidad dedicada a la enseñanza de las Ciencias de la Computación como arte liberal y no como una simple
            habilidad industrial.
        </p>    
        <h2>¿Qué pretendemos?</h2>
        <p>
            The Science of Code un intento por defender y recobrar la dignidad de las ciencias de la computación, 
            por llegar a todos los lectores e intentar infundir en ellos la magia que nos apasiona: La programación,
            la ingeniería y la ciencia. 
        </p>
    </div>
    <div class="col-md-4 text-justify">
        <h2>Línea editorial</h2>
        <p>
           Basamos nuestra línea editorial en sólo dos puntos:
            <ul>
                <li>
                    <b>La honestidad científica y la libertad de expresión</b>: Por más desagradables que sean las verdades descubiertas, The Science
                    of Code es un sitio que permite la divulgación de críticas, opiniones y artículos de todo tipo, sin ninguna
                    clase de censura.
                </li>
                <li><b>El conocimiento libre</b>: Todos nuestros contenidos son y seguirán siendo siempre gratuitos. Respetando
                siempre los derechos de autor.</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4 text-justify">
        <h2>La comunidad</h2>
        <div class="col-xs-12 center-block">
            <div class="fb-page" data-href="https://www.facebook.com/thescienceofcode" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/thescienceofcode"><a href="https://www.facebook.com/thescienceofcode">The Science of Code</a></blockquote></div></div>
        </div>
        No te prometemos que dándonos <b>like</b> aprenderás a programar, ¡pero te sentirás mucho mejor siendo parte de nuestra comunidad!
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>El equipo</h2>
        <div class="row">
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-8">
                <h3>Juan Felipe Cañizares</h3>
                <h4>Revisor editorial</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4">
                <h3>Daniel Cañizares</h3>
                <h4>Programador</h4>
            </div>
        </div>
    </div>
</div>


