@model List<Sibelius.Web.Models.Collaborator>

@{
    ViewBag.Title = "Acerca de";
}
<br />
<br />
<br />
<div class="text-center">
    <h4>Bienvenido a</h4>
    <h3>The Science of Code</h3>
</div>

<div class="row">
    <div class="col-md-4 text-justify">
        <h3>¿Quiénes somos?</h3>
        <p>
            Somos una comunidad apasionada por los videojuegos, la programación y las matemáticas.
        </p>
        <p>
            Defendemos las 
        </p>
    </div>
    <div class="col-md-4 text-justify">
        <h3>¿Cómo apoyarnos?</h3>
        <p>
            Comparte nuestras publicaciones, invita a tus amigos y si quieres unirte al equipo, contáctanos a través de nuestras redes sociales.
        </p>
    </div>
    <div class="col-md-4 text-justify">
        <h3>La comunidad</h3>
        <div class="text-center">
           @Social.FbPage()
        </div>
    </div>
</div>
<br />
<div class="row well text-center" style="display: none;">
    <h2>El equipo principal</h2>
    <br />
    @foreach (var collaborator in Model)
    {
        <div class="col-md-3">
            <img class="img-circle img-responsive" src="@collaborator.ImgUrl" />
            <h5>@collaborator.About</h5>
            <p>@collaborator.Fullname</p>
        </div>
    }
</div>
<br />
<div class="row">
    <center><h2>Así pensamos</h2></center>
    <div class="col-md-4">
        <h4>La libertad de expresión</h4><br />
        Por más desagradables que sean las verdades descubiertas, The Science of Code es un sitio que permite
        la divulgación de críticas, opiniones y artículos de todo tipo, sin ninguna clase de censura.<br /><br />
    </div>
    <div class="col-md-4">
        <h4>El conocimiento libre</h4> <br />
        Creemos que no deben existir barreras de ningún tipo para el acceso a la información, por eso todos nuestros
         contenidos son y seguirán siendo siempre gratuitos.<br /><br />
    </div>
    <div class="col-md-4">
        <h4>Los derechos de autor</h4><br />
        Respetamos profundamente el trabajo realizado por otras personas. Damos crédito a todo el contenido que 
        comparten miembros de la comunidad, así como a imagenes y otros materiales bajo licencias Creative Commons.<br /><br />
    </div>
</div>
<br />