@model Sibelius.Web.Models.PortraitVM
@{
    ViewBag.Title = "Portada";
    ViewBag.MetaDescription = "Somos una comunidad dedicada a la enseñanza de las Ciencias de la Computación como Arte Liberal";
    ViewBag.MetaKeywords = "computación, software, programación, desarrollo, tutoriales, cursos";
    ViewBag.MainImage = Model.Articles[0].ImageUrl;

    var articles = Model.Articles;
    var posts = Model.Posts;
}
<br />
@if ((int)Session["pubadv"] > 0)
{
    <div class="row well">
        <div class="col-xs-12">
            No podrás navegar hasta que verifiquemos que has desactivado el AdBlock. <br />
            Una vez lo desactives, <b>recarga la página y espera a que aparezca el Ad</b>, antes de hacer clic en el siguiente botón: <br /><br />
            <a class="btn btn-primary" href="~/Home/Unban">Volver a dónde estaba</a>
        </div>
    </div>
}
<div class="row">
    <div class="col-xs-12">
        <center>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Main TSOC -->
            <ins class="adsbygoogle"
                 style="display:block;max-width:970px;width:100%;"
                 data-ad-client="ca-pub-1426867402604645"
                 data-ad-slot="7023487219"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="pubdiv"></div>
        </center>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        @Articles.Headline(articles[0])
    </div>
    <div class="col-sm-4">
        @Articles.Headline(articles[1])
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            @for (int i = 2; i < articles.Count; ++i)
            {
                <div class="col-sm-6">
                    @Articles.Headline(articles[i])
                </div>
            }
        </div>
    </div>
</div>

