@model List<Sibelius.Web.Models.Article>
@{
    ViewBag.Title = "Portada";
    ViewBag.MetaDescription = "Somos una comunidad dedicada a la enseñanza de las Ciencias de la Computación como Arte Liberal";
    ViewBag.MetaKeywords = "computación, software, programación, desarrollo, tutoriales, cursos";
}
<br />
<div class="row">
    <div class="col-xs-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Main TSOC -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1426867402604645"
             data-ad-slot="7023487219"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <div class="pubdiv"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        @Articles.Headline(Model[0])
    </div>
    <div class="col-sm-4">
        @Articles.Headline(Model[1])
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="row">
            @for (int i = 2; i <= 5; ++i)
            {
                <div class="col-sm-6">
                    @Articles.Headline(Model[i])
                </div>
            }
        </div>
    </div>
   
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="row">
            @for (int i = 6; i < Model.Count; ++i)
            {
                <div class="col-sm-6">
                    @Articles.Headline(Model[i])                    
                </div>
            }
        </div>
    </div>
</div>
