@{
    ViewBag.Title = "Privacy";
}

<div class="row">
    <div class="col-xs-12 ">
        <h2>Política de Privacidad</h2>
        <hr />
        <p class="text-justify">
            Por medio de nuestra política de privacidad le ponemos al tanto de las debidas condiciones de uso en este sitio.
        </p>
        <p class="text-justify">
            La utilización de estos implica su aceptación plena y sin reservas a todas y cada una de las disposiciones incluidas en este Aviso Legal, por lo que si usted no está de acuerdo con cualquiera de las condiciones aquí establecidas, no deberá usar u/o acceder a este sitio.
        </p>
        <p class="text-justify">
            Reservamos el derecho a modificar esta Declaración de Privacidad en cualquier momento. Su uso continuo de cualquier porción de este sitio tras la notificación o anuncio de tales modificaciones constituirá su aceptación de tales cambios.
        </p>
        <p class="text-justify">
            <h3>Galletas o Cookies</h3>

        <p class="text-justify">
            Este sitio hace uso de cookies, los cuales son pequeños ficheros de datos que se generan en su ordenador, enviando información pero sin proporcionar referencias que permitan deducir los datos personales almacenados en éste.
        </p>
        <p class="text-justify">
            Usted podrá configurar su navegador para que notifique y rechace la instalación de las cookies enviadas por este sitio, sin que ello perjudique la posibilidad de acceder a los contenidos. Sin embargo, no nos responsabilizamos de que la desactivación de los mismos impida el buen funcionamiento de la del sitio.
        </p>

        <h3>Marcas Web o Web Beacons</h3>

        <p class="text-justify">
            Al igual que las cookies este sitio también puede contener web beacons, un archivo electrónico gráfico que permite contabilizar a los usuarios que acceden al sitio o acceden a determinadas cookies del mismo, de esta manera, podremos ofrecerle una experiencia aún más personalizada.
        </p>

        <h3>Acciones de Terceros</h3>


        <p class="text-justify">
            Asimismo, usted encontrará dentro de este sitio, páginas, promociones, micrositios, tiendas virtuales, encuestas, patrocinadores, publicistas, contratistas y/o socios y servicios comerciales, en conjunto con otros servicios compartidos, propios o cobrandeados con terceros ("Sitios Cobrandeados") que le podrán solicitar Información, los cuales este sitio le podrá revelar información proporcionada por usted.
        </p>
        </p>
        <p class="text-justify">
            La Información que se proporcione en estos Sitios Cobrandeados esta sujeta a las políticas de privacidad o leyendas de Responsabilidad de Información que se desplieguen en dichos Sitios y no estará sujeta a esta política de privacidad. Por lo que recomendamos ampliamente a los Usuarios a revisar detalladamente las políticas de privacidad que se desplieguen en los Sitios Cobrandeados.
        </p>
        <p class="text-justify">

            Política De Privacidad De La Publicidad Proporcionada En Este Sitio:
        </p>
        <p class="text-justify">
            Google Adsense: <a href="http://www.google.com/intl/es_ALL/privacypolicy.html" target="_blank">http://www.google.com/intl/es_ALL/privacypolicy.html</a>
        </p>
        <p class="text-justify">
            Nosotros estudiamos las preferencias de nuestros usuarios, sus características demográficas, sus patrones de tráfico, y otra información en conjunto para comprender mejor quiénes constituyen nuestra audiencia y qué es lo que usted necesita. El rastreo de las preferencias de nuestros usuarios también nos ayuda a servirle a usted los avisos publicitarios más relevantes.
        </p>
        <p class="text-justify">
            Política De Privacidad De Fuentes De Rastreo Utilizadas En Este Sitio:
        </p>
        <p class="text-justify">
            Google (Analytics): <a href="http://www.google.com/intl/es_ALL/privacypolicy.html" target="_blank">http://www.google.com/intl/es_ALL/privacypolicy.html</a>
        </p>
        <p class="text-justify">

            Política de Protección de Datos Personales
        </p>
        <p class="text-justify">
            Para utilizar algunos de los servicios o acceder a determinados contenidos, deberá proporcionar previamente ciertos datos de carácter personal, que solo serán utilizados para el propósito que fueron recopilados.
        </p>
        <p class="text-justify">
            El tipo de la posible Información que se le sea solicitada incluye, de manera enunciativa más no limitativa, su nombre, dirección de correo electrónico (e-mail), fecha de nacimiento, sexo, ocupación, país y ciudad de origen e intereses personales, entre otros, no toda la Información solicitada al momento de participar en el sitio es obligatoria de proporcionarse, salvo aquella que consideremos conveniente y que así se le haga saber.
        </p>
        <p class="text-justify">
            Cómo principio general, este sitio no comparte ni revela información obtenida, excepto cuando haya sido autorizada por usted, o en los siguientes casos:
        </p>
        <p class="text-justify">
            a) Cuando le sea requerido por una autoridad competente y previo el cumplimiento del trámite legal correspondiente y
        </p>
        <p class="text-justify">
            b) Cuando a juicio de este sitio sea necesario para hacer cumplir las condiciones de uso y demás términos de esta página, o para salvaguardar la integridad de los demás usuarios o del sitio.
        </p>
        <p class="text-justify">
            Deberá estar consciente de que si usted voluntariamente revela información personal en línea en un área pública, esa información puede ser recogida y usada por otros. Nosotros no controlamos las acciones de nuestros visitantes y usuarios.
        </p>

        <h3>Conducta Responsable</h3>


        <p class="text-justify">
            Toda la información que facilite deberá ser veraz. A estos efectos, usted garantiza la autenticidad de todos aquellos datos que comunique como consecuencia de la cumplimentación de los formularios necesarios para la suscripción de los Servicios, acceso a contenidos o áreas restringidas del sitio. En todo caso usted será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a este sitio o a terceros por la información que facilite.
        </p>
        <p class="text-justify">
            Usted se compromete a actuar en forma responsable en este sitio y a tratar a otros visitantes con respeto.
        </p>

        <h3>Contacto</h3>


        <p class="text-justify">
            Si tiene preguntas o cuestiones sobre esta Política, no dude en contactarse en cualquier momento a través de nuestras redes sociales, a las cuáles encuentra acceso en la parte inferior izquierda de este sitio.
        </p>
        <p class="text-justify">
            Adaptado bajo licencia CC-by 3.0: <a href="http://www.sigt.net/desarrollo-web/plantilla-de-politica-de-privacidad-para-google-adsense.html" target="_blank">SIGT.net</a>.
        </p>
    </div>
</div>