@import "variables";
@import "../bootstrap/bootstrap.less";
@import "bootswatch.less";
@import "jsPushMenu.less";

// Custom TSOC vars
@tsoc-header-font: 'Prompt';
@tsoc-subheader-font: 'News Cycle';

@tsoc-header-weight: 700;
@tsoc-subheader-weight: bold;
@tsoc-subheader-alt-weight: 700;

@tsoc-xbigger-fontsize: 32px;
@tsoc-bigger-fontsize: 22px;
@tsoc-big-fontsize: 16px;
@tsoc-sm-fontsize: 14px;

@tsoc-default-textlight: 0 0 15px #fff;

@tsoc-nav-height: 54px;
@tsoc-box-height: 320px;
@tsoc-default-margin-top: 30px;
@tsoc-default-border-radius: 0px;

@tsoc-default-shadow: 0px 3px 12px -4px #000000;
@tsoc-default-light: 0 0 70px 0px rgba(255,255,255,0.5);

@tsoc-dark-color:  #090909;
@tsoc-dark2-color:  #171717;
@tsoc-darker-color: #000;
@tsoc-light-color: #eaeaea;
@tsoc-light2-color: #b7b7b7;
@tsoc-lighter-color: #fff;
@tsoc-alt-color: #4d607b;
@tsoc-primary-color: #f67930;

@tsoc-transparent-color: rgba(194, 193, 193, 0.17);
@tsoc-transparent-color-border: 1px solid #4d607b;
@tsoc-transparent-color-alt:  rgba(233, 233, 233, 0.8);

@tsoc-sl-padding: 20px;

/* MIXINS */
.header-font(@color, @size) {
    color: @color;
    font-size: @size;    
    font-family: @tsoc-header-font;
    font-weight: @tsoc-header-weight;
    text-transform: uppercase;
}

.subheader-font(@color, @size) {
    color: @color;
    font-size: @size;    
    font-family: @tsoc-subheader-font;
    font-weight: @tsoc-subheader-weight;
}

.subheader-alt-font(@color, @size) {
    color: @color;
    font-size: @size;    
    font-family: @tsoc-header-font;
    font-weight: @tsoc-subheader-alt-weight;
    text-transform: uppercase;
}

.text-light{
    text-shadow: @tsoc-default-textlight;
    color: @tsoc-lighter-color;
}

.text-nolight{
    text-shadow: none;
    color: @tsoc-dark2-color;
}

.light-hover {
    box-shadow: @tsoc-default-light;
    border-color: @tsoc-lighter-color;
    text-shadow: none;
    background-color: @tsoc-lighter-color;
    color: @tsoc-darker-color;
}

.dark-ellipse {
    background: radial-gradient(ellipse at bottom, transparent 70%, #000 100%);
}

.skew-ending {
    position: absolute;
    content: '';
    top: 0;
    right: -50px;
    width: 50px;
    height: 100%;
    background-color: inherit;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    transform: skew(-10deg);
    z-index: -1;
}

.default-transition {
    -webkit-transition: all 0.2s ease-out, background-position 2s linear;
    -moz-transition: all 0.2s ease-out, background-position 2s linear;
    -o-transition: all 0.2s ease-out, background-position 2s linear;
    transition: all 0.2s ease-out, background-position 2s linear; 
}

/* END MIXINS */

/* CUSTOM COMPONENTS */

.sl {
    min-height: 256px;
    height: auto;

    .sl-over {
        background: radial-gradient(ellipse at bottom, rgba(0, 105, 255, 0.40) 0%, #000 100%);
        width: 100%;
        height: 100%;
        padding: @tsoc-sl-padding @tsoc-sl-padding 120px @tsoc-sl-padding;
    }    
}

.sl-top {
    background: url('../img/main-bg.jpg');
    background-position: top left;
    background-size: cover;     
    background-attachment: fixed;
}

.sl-dark {
    background-color: @tsoc-dark-color;
    color: @tsoc-light-color;
    padding: @tsoc-sl-padding;
}

.box {
    border-radius: @tsoc-default-border-radius;
    margin-top: @tsoc-default-margin-top;
    box-shadow: @tsoc-default-shadow; 
    background-color: @tsoc-dark-color;
    background-color: @tsoc-transparent-color;
    height: auto;    

    display: block;
    position: relative;    
    overflow: hidden;
    display: block;
    color: @tsoc-lighter-color;

    .default-transition;

    .box-title {        
        .subheader-alt-font(@tsoc-lighter-color, @tsoc-big-fontsize);
        display: block;
        width: 100%;
        padding: 10px 20px 10px 20px;
        text-shadow: 1px 1px #000000;        
       
    }

    .box-header {
        height: 212px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        position: relative;

        .over {        
            height:inherit;

            width: 100%;
            background-color: rgba(30,30,30,.1);
        }

        .box-section {              
            .header-font(@tsoc-light-color, @tsoc-bigger-fontsize);
            background-color: #f67930;
            text-shadow: 2px 2px #000000;
            float: none;
            display: block;
            position: absolute;
            top: 20px;
            left: 0;
            height: auto;
            padding-left: 20px;
            z-index: 2;

            &:after {
                .skew-ending
            }
        }    
    }

    

    &:hover {  
        .light-hover;       
        .box-title {
            .light-hover
        }

        .box-header {
            .box-section {
                .light-hover
            }
            .over {
                background-color: transparent;
            }
        }
    }

    
}

a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

@keyframes neonlight {
        0% {
            .text-light;
        }
        60% {
            .text-light;
        }
        68% { 
            .text-nolight;
        }
        70% { 
             .text-light;
        }
        75% { 
            .text-nolight;
        }
        79% { 
             .text-light;
        }
        82% { 
            .text-light;
        }
        90% { 
            .text-nolight;
        }
        
        96% { 
            .text-nolight;
        }
        97% {
            .text-light;
        }
        98% { 
            .text-nolight;
        }
        100% {
            .text-light;
        }
    }

.news-headlines{   
    .default-transition;
     
    a {
        h1 {
            .header-font(@tsoc-lighter-color, @tsoc-bigger-fontsize);
            .text-light;
            background-color: @tsoc-darker-color;

            padding: 10px;
            text-align: center;            
            margin-bottom: 0;
            margin-top: 30px;
            position: relative;
            display:block;
            z-index:2;

            border-top-left-radius: @tsoc-default-border-radius;
            border-top-right-radius: @tsoc-default-border-radius;

            .default-transition;
            animation-name: neonlight;
            animation-duration: 4s;
            animation-iteration-count: infinite;            
        }

        &:hover h1 {
            .light-hover;
            animation: none;
        }
    }

    .news-group{
        border-radius: @tsoc-default-border-radius;
        box-shadow: @tsoc-default-shadow;
        
        display: block;        

        a:not(.img-link) {
            .subheader-font(@tsoc-light-color, @tsoc-sm-fontsize);
            background-color: @tsoc-transparent-color;
            border-bottom: @tsoc-transparent-color-border;


            display: block;
            position: relative;
            text-align: center;           

            &:hover{
                .light-hover;             
            }
            p {
                 padding: 10px;
                 margin: 0;
            }
        }

        a:first-child  { 
            .over { 
                width: 100%;
                height: 100%;
                position: absolute;               
                top: 0;               
                .dark-ellipse;
            }                      
        }

        a:last-child{            
            background-color: @tsoc-transparent-color-alt;
            color: @tsoc-alt-color;

            border-bottom-right-radius: @tsoc-default-border-radius;
            border-bottom-left-radius: @tsoc-default-border-radius;
            text-transform: uppercase;
            padding: 5px;
        }

    }
}

.questions-headlines {
    padding-bottom: 60px;


    h3 {
        margin-bottom: 30px;
    }

    .question-btn {
        .text-center;
        box-shadow: @tsoc-default-shadow;
        display: block;
        color: @tsoc-light2-color;
        background-color: @tsoc-dark2-color;
        height: 100px;
        margin-bottom: 20px;
        position: relative;
        font-size: 14px;

        &:hover {
            .light-hover;
        }

        & > div {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 100%;
        }

        .question-title {
            font-family: 'News Cycle';
            display: block;
            font-size: 16px;
        }
    }

    .primary {
        background-color: @tsoc-primary-color;
        color: @tsoc-lighter-color;
    }
}

/* END CUSTOM COMPONENTS */

/* MAIN HTML COMPONENTS */
html, body{
    background-color: @body-bg;
}

body {
    font-family: 'Roboto';
    text-rendering: optimizeLegibility;
    /*font-size:18px;*/
    color: #2b2b2b;
    line-height: 1.6;
    font-size: 16px;
    line-height: 1.8;
}

.body-content {
    padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {    
    font-family: @tsoc-header-font;
}


.box-image div {
        height: 350px;
}


.top-light(@top) {
    &:after{
        content: '';
        position: absolute;        
        height: @tsoc-nav-height;
        width: 100%;        
        top: @top - @tsoc-nav-height;
        left: 0;
        .default-transition;
    }
}

.top-light-hover(@size) {
    color: @tsoc-lighter-color;

    &:after{
        box-shadow: 0 0 @size 10px rgb(255, 228, 185);
    }
}

#main-navbar {
    box-shadow: 0px 2px 10px -4px #000000;
    max-width: 100vw;
    min-height: @tsoc-nav-height;
    max-height: @tsoc-nav-height;    
    border: none;
    top: 0;
    background: linear-gradient(#000 50%, #171717 100%);
    
    li a, a.navbar-brand {
        font-family: 'Prompt';
        font-weight: bold;
        font-size: 14px;
        padding-top: 14px;
        padding-right: 30px;
        max-height: @tsoc-nav-height !important;
        text-transform: uppercase;
        position: relative;
        color: #fff;

        .top-light(0);

        &:hover {
            .top-light-hover(120px);
        }
    }  
     
    a.navbar-brand {
        padding-bottom: 4px;
        padding-top: 4px;
        img {
            max-height: calc(@tsoc-nav-height - 8px);
        }
    }

    .navbar-toggle {
        height: @tsoc-nav-height;
        margin-top: 0;
        .top-light(0);
        &:hover {
            .top-light-hover(120px);
        }

        .icon-bar {
            background-color: #9c9c9c;        
        }
    }
}

#main-logo-big { 
    cursor: pointer;
    display: block;
    position: relative;
    max-width: 213px;

    .top-light(-@tsoc-sl-padding);
}

#main-logo-big:hover {
    .top-light-hover(200px);
}

.fixeable-navbar { 
    display: none;
}

html {
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
}




.navbar li.active > a, .navbar li > a:focus {
    color: #fff;
    background-color: #171717 !important;
}

.light-body {
    background-color: #edecec;
}

.dark-body {
    background-color: #ebebeb;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.course-info {
    min-height: 210px;
    margin-top: 25px;
}

.course-info img {
    margin-top: 0px;
}

.min-h-content {
    min-height: 2000px;
}

.article-text, .article-text-intro, .article-text ul li {
    text-align: justify;
    font-size: 16px;
    line-height: 1.8;
}

.article-text .videoWrapper, .article-text p {
    margin-bottom: 30px;
    margin-left: 15px;
}

.article-text pre, .article-text .gist {
    margin-left: 15px;
}

.article-text h4 {
    margin-left: 10px;
}

.article-text h3, .article-text h2, .article-text h1 {
    margin-left: 0;
    margin-bottom: 30px;
}

.pre-fixed {
    float: right;
}

.fixed {
    position: fixed;
    top: 58px;
    z-index: 10;
    box-shadow: 0px 2px 10px -4px #000000;
    opacity: 0;
}

.fixed-container {
    padding: 0;
}

@media (max-width: 767px) {
    .hidden-xs-fixed {
        float: none;
        font-size: xx-small;
    }

    .fixed .hidden-xs-fixed {
        display: none;
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#legal-info, #pubadv {
    width: 100%;
    margin: 0;
    z-index: 10;
    bottom: 0;
    position: fixed;
    border-radius: 0;
    border: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
}



#pubadv {
    z-index: 9;
    display: none;
    background-color: red;
    color: white;
    border: red;
}

.pubdiv div {
    margin-top: 50px;
}

.btn {
    margin-bottom: 5px;
}

.panel, .well, .list-group, .pagination {
    /*box-shadow: 0px 3px 12px -4px #000000;*/
}

.problems-div {
    background-color: #fff;
}

.actionable {
    box-shadow: 0px 3px 12px -4px #000000;
    background-color: #000;
}

.actionable:hover {
    cursor: pointer;
}

.actionable:active {
    box-shadow: none;
}

a:hover {
    cursor: pointer;
}

.loading {
    padding-top: 20px;
    min-height: 70px;
}

#posts-body {
    display: block;
}

#posts-menu-sm, #posts-menu-lg, #posts-menu-btn a {
    font-family: 'News Cycle';
    font-weight: bold;
    font-size: 18px;
}

#posts-menu-sm small, #posts-menu-lg small {
    font-size: 14px;
}



.ending {
    color: #585858;
}

.nav-courses {
    font-family: "Prompt";
    font-weight: bold;
}

/*#posts-menu-sm small, #posts-menu-lg small {
    color: #fff;
}

#posts-menu-sm a, #posts-menu-lg a {
    color: #fff;
    background-color: #f67930;
    border: 1px solid #dd6b28;
}

#posts-menu-sm a, #posts-menu-lg a:hover {
    background: #f56410;
}

    #posts-menu-sm .list-group-item.active, #posts-menu-lg .list-group-item.active{
        background: #f56410;
    }*/

.visible {
    display: inline !important;
}

.img-bounded {
    max-height: 300px;
}









.taringa, .stats {
    height: 36px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 8px;
}

.stats-title {
    background-color: rgba(220, 220, 220, 1);
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

.taringa {
    background-color: #005dab;
    color: #fff;
}

.taringa a {
    color: #fff;
}

.taringa a:hover {
    text-decoration: none;
    color: #cecece;
}

.stats {
    background-color: #161616;
    color: #fff;
}

.stats > span {
    color: #fcd430;
}

.headline .sm-bottom {
    width: 100%;
}

.fb {
    /*padding-top: 8px;*/
}

.fb-default {
    background-color: rgba(10, 150, 250, 0.9);
    height: 36px;
}

.tw {
    padding-top: 8px;
}

.tw-default {
    background-color: rgba(0, 200, 250, 0.9);
    height: 36px;
}

.headline .sm-bottom .author {
    background-color: rgba(220, 220, 220, 0.9);
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.highlight {
    background-color: #f67930;
    color: #fff;
    font-family: "News Cycle";
    font-weight: bold;
}

.alert-red {
    background-color: red;
    color: white;
}

.alert-red h3 {
    color: yellow;
}

.main-footer {
    background-color: #141414;
    color: #fff !important;
}

.main-footer h5 {
    color: #fff;
}

.bot-menu {
    background-color: #141414;
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: 'News Cycle';
    font-weight: bolder;
}

.bot-menu h6 {
    color: #fff;
}

.bot-menu a {
    color: #787676;
}

.bot-menu a:hover,.bot-menu  a:active {
    color: #f67930;
    text-decoration: none;
}



.section-span {
    font-family: "News Cycle";
    font-weight: bolder;
    margin-top: 30px;
    display: block;
    background-color: #262626;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 0px 7px 0px;
}

.section-div {
    padding: 10px;
    background-color: #ededed;
    margin-bottom: 30px;
}

.section-btn-more {
    border-bottom: 0px !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    padding: 10px 0 10px 0;
    min-height: 0px !important;
}

.tsoc-group {
    font-family: "News Cycle";
    font-weight: bolder;
    display: block;
    margin-top: 15px;
    padding: 0px;
}

.tsoc-group span.text-content {
    padding: 10px;
    display: block;
}

.tsoc-group a:not(.btn) {
    border-bottom: 1px solid #cfcdcd;
    display: block;
    color: #000;
    min-height: 40px;
}

.tsoc-group a:hover:not(.btn),
.tsoc-group a:focus:not(.btn),
.tsoc-group a:active:not(.btn) {
    color: #000;
    text-decoration: none;
    background-color: #e2e2e2;
}

.tsoc-group .btn {
    font-weight: bold;
}

.tsoc-group-big > a:not(.btn) {
    min-height: 85px;
}

.sm-section {
    color: #2b2b2b;
    font-size: 12px;
    font-weight: lighter;
    text-align: right;
    text-transform: uppercase;
}

h3 .badge {
    font-size: 14px;
}

/*
@media (min-width: 768px) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 10px;
        padding-right: 15px;
    }
}

@media (max-width: 768px) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 1px;
        padding-right: 1px;
    }
}*/

/* SOCIAL COLORS */

.fb-color {
    background-color: #3b5998 !important;
    color: #fff !important;

    &:hover {
        background-color: #2d477e !important;
    }
}

.tw-top {
    background-color: #1c9fef !important;
    color: #fff !important;

    &:hover {
        background-color: #1183c8 !important;
    }
}