<div id="legal-info" class="alert alert-info text-center">
    <small>Nos obligan a molestarte con la obviedad de que este sitio usa cookies</small> <br class="visible-xs" />
    <a class="btn btn-sm btn-info" href="~/Home/Privacy">Más información</a>
    <a class="btn btn-sm btn-info" id="legal-accept"
       data-callable-url="@Url.Content("~/Home/LegalAccept")"
       data-expected-result="ok"
       data-hideable="#legal-info">
        Cerrar
    </a>
</div>
