@model bool
<div class="loading">
    <div class="text-center col-xs-12">
        <img src="~/Content/loading.gif" />
        @if (Model)
        {
            <span class="loading-msg"></span>
        }
    </div>
</div>
