<div id="pubadv" class="alert alert-warning text-center">
    <small>
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        Creemos que el conocimiento debe ser de acceso libre para todos. <br />
        Desactivando tu AdBlock permites que podamos seguir liberando contenido de calidad.
    </small> <br />
    <a class="btn btn-sm btn-danger" id="pubadv-accept">Comprendo</a>
</div>
