<div id="pubadv" class="alert alert-warning text-center">
    <small>
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        ¿Preferirías pagar para entrar a este sitio? <br />
        Si quieres que esto siga siendo gratis, por favor, desactiva el AdBlock.
    </small> <br />
    <a class="btn btn-sm btn-danger" id="pubadv-accept">Comprendo</a>
</div>
