@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1>gg =(</h1>
<h3>Lo sentimos.</h3>
Ha ocurrido un error. Intenta de nuevo más tarde.
<br />
<br />
¿Sigue sin funcionar? Reporta el error a través de nuestras redes sociales para que nuestros programadores lo corrigan.
<a class="btn btn-primary btn-lg" href="http://facebook.com/TheScienceOfCode" target="_blank"><i class="fa fa-facebook"></i></a>
<a class="btn btn-primary btn-lg" href="https://twitter.com/ScienceOfCode" target="_blank"><i class="fa fa-twitter"></i></a>

