
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

@if(User.IsInRole("admin"))
{
    <a class="btn btn-primary" href="~/Account/AddToAdmin">Admins</a>
    <a class="btn btn-primary" href="~/Account/Register">Register</a>
    <a class="btn btn-primary" href="~/AdminCollaborators">Collaborators</a>
}
