@model IEnumerable<Sibelius.Web.Models.Course>

@{
    ViewBag.Title = "Cursos";
    ViewBag.MetaDescription = "Cursos presenciales y virtuales sobre computación";
    ViewBag.MetaKeywords = "computación, software, programación, desarrollo, tutoriales, cursos";
}
<br />
<div class="row">
    <div class="col-xs-12">
        <center>
            @Custom.Pub()
        </center>
    </div>
</div>
<br />
<br />
<ul class="nav nav-tabs nav-courses">
    <li class="active">
        <a href="#home" data-toggle="tab" aria-expanded="false">
            <span class="glyphicon glyphicon-home"></span> Cursos
        </a>
    </li>
    <li class="">
        <a href="#old" data-toggle="tab" aria-expanded="true">
            <span class="glyphicon glyphicon-time"></span> Cursos anteriores
        </a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
        @if (Model.Count(c => c.Active) > 0)
        {
            <div class="row">
                @foreach (var course in Model.Where(c => c.Active))
                {
                    <div class="col-md-6">
                        @Html.Partial("_CourseBrowser", course)
                    </div>
                }
            </div>
        }
        else
        {
            <h3>Nada por aquí</h3>
        }
    </div>
    <div class="tab-pane fade" id="old">
        @if (Model.Count(c => !c.Active) > 0)
        {
            <div class="row">
                @{ int lastYear = -1;}
                @foreach (var course in Model.Where(c => !c.Active))
                {
                    if (lastYear != course.Year)
                    {
                        <div class="col-xs-12"> 
                            <br />
                            <h3><span class="glyphicon glyphicon-flag">&nbsp;</span> @course.Year</h3>
                            <hr />
                        </div>
                    }
                    <div class="col-md-6">
                        @Html.Partial("_CourseBrowser", course)
                    </div>
                    lastYear = course.Year;
                }
            </div>
        }                    
        else
        {
            <h3>Nada por aquí</h3>
        }
    </div>
</div>
<br />
<br />

