@model IEnumerable<Sibelius.Web.Models.Course>

@{
    ViewBag.Title = "Cursos";
    ViewBag.MetaDescription = "Cursos presenciales y virtuales sobre computación";
    ViewBag.MetaKeywords = "computación, software, programación, desarrollo, tutoriales, cursos";
}
<br />
<div class="row">
    <div class="col-xs-12">
        <center>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Courses adap -->
            <ins class="adsbygoogle"
                 style="display:block;max-width:970px;width:100%;"
                 data-ad-client="ca-pub-1426867402604645"
                 data-ad-slot="4167642014"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="pubdiv"></div>
        </center>
    </div>
</div>
<br />
<br />
<ul class="nav nav-tabs nav-courses">
    <li class="">
        <a href="#home" data-toggle="tab" aria-expanded="false">
            <span class="glyphicon glyphicon-home"></span> Cursos presenciales
        </a>
    </li>
    <li class="active">
        <a href="#old" data-toggle="tab" aria-expanded="true">
            <span class="glyphicon glyphicon-time"></span> Cursos anteriores
        </a>
    </li>
    <li class="disabled">
        <a>Cursos virtuales</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade" id="home">
        @if (Model.Count(c => c.Active) > 0)
        {
            <div class="row">
                @foreach (var course in Model.Where(c => c.Active))
                {
                    <div class="col-md-6">
                        @Html.Partial("_CourseBrowser", course)
                    </div>
                }
            </div>
        }
    </div>
    <div class="tab-pane fade active in" id="old">
        @if (Model.Count(c => !c.Active) > 0)
        {
            <div class="row">
                @{ int lastYear = -1;}
                @foreach (var course in Model.Where(c => !c.Active))
                {
                    if (lastYear != course.Year)
                    {
                        <div class="col-xs-12"> 
                            <br />
                            <h3><span class="glyphicon glyphicon-flag">&nbsp;</span> @course.Year</h3>
                            <hr />
                        </div>
                    }
                    <div class="col-md-6">
                        @Html.Partial("_CourseBrowser", course)
                    </div>
                    lastYear = course.Year;
                }
            </div>
        }
    </div>
</div>
<br />
<br />

