@model List<Sibelius.Web.Models.Post>

@for (int i = 0; i < Model.Count; i += 2)
{   
    var item = Model[i];
    item.Html = null;
    
    @Html.Partial("_Post", item)
    if (i + 1 < Model.Count)
    {
        item = Model[i + 1];
        item.Html = null;
        @Html.Partial("_Post", item)
    }
    
    if (i == 4)
    {
        <div class="row">
            <div class="col-xs-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Posts -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1426867402604645"
                     data-ad-slot="2889385216"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <div class="pubdiv"></div>
                <br />
            </div>
        </div>
    }
}