@model Sibelius.Web.Models.Post
@{
    Layout = null;
    ViewBag.Title = Model.Title;
    ViewBag.bodyclass = "dark-body";
    ViewBag.MetaDescription = Model.Title;
    ViewBag.MetaKeywords = Model.Tags;
}
@Html.Partial("_Post", Model)
<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-body">
                <h3>Discusión</h3>
                <h5>¡Haga sus comentarios o preguntas aquí!</h5>
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    @Social.Disqus(
        Model.Title,
        string.Format("http://thescienceofcode.azurewebsites.net/Posts/Show/{0}", Model.Id))

</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>