
@helper Headline(Sibelius.Web.Models.Post post)
{
    <div class="post-headline">
        <a href="~/Posts/Show/@post.Id">
            <img class="img-responsive" src="@post.ImageUrl" />
            <div class="sm-title">
                @post.Title
            </div>
        </a>
    </div>
}
