
@helper Headline(Sibelius.Web.Models.Post post, bool img = false)
{
    <a href="~/Posts/Show/@post.Id">
        @if (img)
        {
            <img class="img-responsive" src="@post.ImageUrl"/>
            <div class="over"></div>
        }
        <p class="text-content">
            @post.Title
        </p>
    </a>
}
