@helper DefaultBtn(string url)
{ 
    <div class="col-sm-6 fb">
        <a class="fb-like" data-href="@url" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></a>
    </div>
    <div class="col-sm-6 tw">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="@url" data-via="ScienceOfCode">Tweet</a>
    </div>
}

@helper CleanBtn(string url)
{
    <div class="col-sm-6">
        <div class="fb-like" data-href="@url" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <div class="col-sm-6" style="padding-top: 8px;">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="@url" data-via="ScienceOfCode">Tweet</a>
    </div>
}